<?xml version="1.0"?>
<!--
Web.config file for API_Paycomet_cs.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="API_Paycomet_cs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.
    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies/>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <applicationSettings>
    <API_Paycomet_cs.Properties.Settings>
      <setting name="API_Paycomet_cs_api_paycomet_com_PAYTPV_BankStoreGatewayService"
        serializeAs="String">
        <value>https://api.paycomet.com/gateway/xml-bankstore</value>
      </setting>
      <setting name="API_Paycomet_cs_api_paycomet_com_2_PAYTPV_OperationsGatewayService"
        serializeAs="String">
        <value>https://api.paycomet.com/gateway/xml-operations</value>
      </setting>
    </API_Paycomet_cs.Properties.Settings>
  </applicationSettings>
</configuration>